@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'UthmanicHafs';
  src: url('/fonts/UthmanicHafs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-quran {
  font-family: 'UthmanicHafs', serif;
  line-height: 2;
}
