@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark {
    color-scheme: dark;
  }

  .popup-goal {
    background: #ecfdf5;
    color: #065f46;
  }

  html.dark .popup-goal {
    background: #022c22;
    color: #ccfbf1;
  }
}

@font-face {
  font-family: 'UthmanicHafs';
  src: url('/fonts/UthmanicHafs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-quran {
  font-family: 'UthmanicHafs', serif;
  line-height: 2;
}
